.status-game{
  width: 39rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: start; */
  /* justify-content: center;  */
  /* margin: 0rem auto; */
  background: linear-gradient(#4df8df, #4df0f8);
  color: #221c18;
  box-shadow: 0 2px 8px rgba(35, 34, 34, 0.6);
  border-radius: 6px;
  padding-bottom: 2rem;
}

/* itens na horizontal na ponta
.main-status-game{
  display: flex;
  flex-direction: c;
  justify-content: space-between;
  width: 100%;
  margin-left: 2rem;
  margin-right: 5rem;
} */

.main-status-game{
  margin-top: 2rem;
  margin-left: 2rem;
} 

.main-status-game h2{
  text-transform: uppercase;

} 